.acdiv{
    background-color: 	#ffffff;
    width: 100%;  
    border-radius: 2%;
}
.sepaac{
    padding-top: 10px;

}
.ptrA{
    cursor: pointer;
}
.imgA{
    width: 30px;
    height: 30px;
}
.psA{
    width:30px;
}
.filterA {
    border-radius: 25px;
    outline: none;
    box-shadow: none;
    background: #dfe3ee;
    border:none;
    color: 	#8b9dc3;
    font-size: 20px;
    width: 100%; 
    height: 30px;
    padding-left: 10px;
    margin-left: 0%;
    font-size: 14px;
  }
.txta{
    font-weight: 500;
    font-size: 13px;
}