.imgH {
  border-radius: 7%;
  width: 100%;
  height: 100%;
  padding-right: 3px;
  padding-left: 3px;
}

.conH {
  position: relative;
  text-align: center;
  width: 20%;
  color: white;
}

.topBT {
  position: absolute;
  top: 80%;
  left: 10%;
  font-size: 12px;
  font-weight: 450;
}

.topRI {
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 20%;
  width: 25%;
}
