.postdiv{
    background-color: 	#ffffff;
    width: 100%;  
    border-radius: 2%;
}
.postjmp{
    padding-top: 10px;
}
.postName{
    font-size: 12px;
    font-weight:bolder ;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.postImgS{
    width: 15px;;
    float: right;
    margin-left: 10px;
}
.postImgS3{
    width: 20px;;
    float: right;
    margin-left: 10px;
}
.postTimeName{
    color: #8b9dc3;
    font-size: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.imgPOST{
    width: 100%;
    max-height: 350px;
    float: left;
}
.imgPOSTi{
    width: 15px;
    float: left;
}