.containerLF {
  padding-top: 70px;
}
.containerLFA {
  padding-top: 10px;
}
.leftComponent{
  
  min-height: calc(98vh);
}
.tabLF {
  padding-left: 10px;
}
.tabTLF {
  padding-left: 5px;
  color: #8b9dc3;
  font-weight: 500;
  font-size: 13px;
}
.afontLF {
  color: #3b5998;
  font-weight: 600;
  cursor: pointer;
}
.ifontLF {
  font-weight: 500;
  cursor: pointer;
  
}
.fullimgLF {
  width: 30px;
}

hr.solid {
  border-top: 1px solid #8b9dc3;
}
.imgC {
    border-radius: 10%;
    width: 100%;
    padding: 0;
    margin:0;
  }
