.iconNM{
    color:#8b9dc3;
    border: none;
    padding:none;
    width: 100%;
    height: 100%;
}
buttonNM{
    border: none;
    padding:none;
    width: 100%;
    height: 100%;
}

.iconNM:hover {color:#3b5998;}
