.Navbar {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
  position: fixed;
  box-shadow: 1px 1px 1px 	#8b9dc3;
}
.input_container {
  width: 120px;
  background:  #dfe3ee;
  border-radius: 25px;
  height: 30px;
  border-left: 20px;
}
.icon{
  padding:none;
  border-left:none;
  bottom:2px;
  width:7%;
  height:24px;
  color: 	#8b9dc3;
}
.filter {
  border-radius: 25px;
  outline: none;
  box-shadow: none;
  background: #dfe3ee;
  border:none;
  color: 	#8b9dc3;
  font-size: 18px;
  width: 91%; 
  padding-left: 3px;
  margin: 0%;
  font-size: 14px;
}
.imgSN{
  width: 30px;
}
.fullimgNV{
  width: 30px;
}
.bgimgNV{
  width: 30px;
  border-radius: 50%;
  background-color: #dfe3ee;
}