.imgsize{
    width: 30px;
}
.nameadd{
    font-size: 14px;
    font-weight: bolder;
    line-height:3px;
}
.txtadd{
    font-size: 12px;
}
.imgADD{
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 100px;
    border-radius: 10%;
    
    margin-bottom: 10px;
}